@charset "UTF-8";
@import url(../node_modules/normalize.css/normalize.css);
body {
  font-family: 'Open Sans', 'sans-serif', '微軟正黑體', 'Ping-Fang'; }

a {
  text-decoration: none;
  color: #000; }
  a:active, a:visited {
    color: #000; }

* {
  box-sizing: border-box; }

input {
  outline: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.vue-lightbox ul {
  max-width: 400px;
  margin: 50px auto;
  text-align: center; }
  .vue-lightbox ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px; }
    .vue-lightbox ul li a {
      display: inline-block;
      padding: 10px 15px;
      border: 1px solid lightgrey; }
      .vue-lightbox ul li a:hover {
        background-color: #ddd; }

.vue-lightbox .lightbox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 15s ease; }
  .vue-lightbox .lightbox .container {
    background-color: #fff;
    padding: 20px 35px;
    max-width: 600px;
    max-height: 400px;
    overflow: auto;
    transition: all .35s ease; }

.viewbox-enter, .viewbox-leave-active {
  opacity: 0;
  transition: all .35s ease; }
  .viewbox-enter .container, .viewbox-leave-active .container {
    transform: scale(1.1);
    transition: all .35s ease; }
