@import '_default'

.vue-todo
	padding: 20px
	font-family: 'Gudea'

	.input
		display: flex
		// border-bottom: 1px solid #eee
		padding: 15px
		box-shadow: 0 1px 4px 0 rgba(#eee, 0.5)
		align-items: center
		input 
			height: 2em
			min-width: 150px
			border: 0
			line-height: 2em
			padding: 5px
			background-color: rgba(#aaa, 0.1)

		.btn-add 
			position: relative
			display: inline-block
			width: 2em
			height: 2em
			margin-left: 8px
			border: 1px solid #ddd
			border-radius: 100%

			&:before, &:after 
				content: ''
				display: inline-block
				position: absolute
				// top: 1em
				background-color: #aaa
				width: 60%
				height: 1px
				transform: translate(-50%, -50%)
				top: 50%
				left: 50%

			&:after 
				transform: translate(-50%, -50%) rotate(90deg)

	.content 
		// padding: 15px
		box-shadow: 0 1px 4px 0 rgba(#eee, 0.5)

	.filter
		padding: 5px 15px
		// text-align: center
		border-bottom: 1px solid #eee
		li 
			display: inline-block
			margin: 10px 5px
			
			a 
				position: relative
				color: #bbb
				padding: 2px 5px

				&:before 
					content: ''
					display: block
					position: absolute
					left: 50%
					top: 50%
					width: 100%
					height: 100%
					border: 1px solid transparent
					border-radius: 3px
					transform: translate(-50%, -50%) scale(0)
					opacity: 0
					transition: all .18s ease-in-out


				&.active
					color: #666
					&:before
						border-color: #666
						transform: translate(-50%, -50%) scale(1)
						opacity: 1
						transition: all .18s ease-in-out

	.list 
		li 
			display: flex
			padding: 10px
			align-items: center
			border-bottom: 1px solid #eee

			&:hover 
				.btn-delete
					opacity: 1
					transition: all .15s ease-in-out

			label
				padding: 0 10px 0 5px

			.btn-delete
				width: 12px
				height: 12px
				position: relative
				display: inline-block
				opacity: 0
				transition: all .15s ease-in-out

				&:before, &:after
					content: ""
					position: absolute
					display: block
					width: 100%
					height: 1px
					top: 6px
					background-color: #ccc

				&:before 
					transform: rotate(45deg)

				&:after 
					transform: rotate(-45deg)

			&.todo-left
				font-size: 12px

		.done 
			label 
				color: #ddd
				text-decoration: line-through