<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>title</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="app">
	    <div class="grades">
	    	<report v-for="s in studentData" :name="s.name" :grade="s.grade" @update="takeProps"></report>
	    </div>
	  </div>
	<script type="test/x-template" id="report">
		<div class="repo">
		    <h3>{{ name }}</h3>
		    <p>grade: {{grade}}</p>
		    <p>update: <input type="text" v-model="inner"><button @click="changeGrade()">modify</button></p>
		    <hr>
		</div>
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script>
		var bus = new Vue();

		Vue.component('report', {
			template: `#report`,
			props: {
			    name: {
			    	type: String,
			    	default: 'unknow',
			    },
			    grade: {
				    // type: Number,
				    default: 0
			    }
			},
			data: function(){
			    return {
			    	inner: '',
			    }
			  },
			methods: {
			    changeGrade: function(){
			      this.$emit('update', {
			        name: this.name,
			        grade: this.inner
			      });
			    }
			}
		});

		new Vue({
			el: "#app",
			data: {
				studentData: [
			    	{ name: 'Jason Martin', grade: 100},
			    	{ name: 'Cersei Lannister', grade: 88},
			    	{ name: 'Daenerys Targaryen', grade: 94},
			    	{ name: 'Joffrey Baratheon'},
			    	{ name: 'Tyrion Lannister', grade: 87},
			    	{ name: 'Arya Stark', grade: 96 },
			    	{ name: 'Ramsay Bolton'}
		    	]
		  	},
			methods: {
		    	takeProps(obj) {
		    		var o = this.studentData.find((d) => d.name === obj.name);
		    		o.grade = obj.grade;
		    	},
			}
		})
	</script>
</body>

</html>