<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>title</title>
	<link href="https://fonts.googleapis.com/css?family=Gudea&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="css/todo.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>
</head>

<body>
	<div id="app" class="vue-todo" :class="{isDark : isDark == true}">
		<div class="title">
			<h2>Todo List</h2>
			<div class="switch">
				<input type="checkbox" id="colorMode" v-model="nightMode" @click="modeChange">
				<label for="colorMode">
					<span class="day"><i class="fas fa-sun"></i></span>
					<span class="night"><i class="fas fa-moon"></i></span>
				</label>
			</div>
		</div>
	    <div class="input" :class="{isDark : isDark == true}">
	    	<input type="text" v-model="todo" @keyup.enter="add">
	    	<a href="javascript:;" @click.prevent="add" class="btn-add"></a>
	    </div>
	    <div class="content" :class="{isDark : isDark == true}">
	    	<div class="filter">
	    		<li><a href="javascript:;" @click="open('all')" :class="{active: currentView === 'all'}">All</a></li>
	    		<li><a href="javascript:;" @click="open('active')" :class="{active: currentView === 'active'}">Active</a></li>
	    		<li><a href="javascript:;" @click="open('complete')" :class="{active: currentView === 'complete'}">Complete</a></li>
	    	</div>
	    	<div class="list">
	    		<component :is="currentView" :list="list"></component>
	    	</div>
	    </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script type="text/x-template" id="all">
		<ul class="todoList">
			<li v-for="t in list" :class="{done : t.isDone == true}">
				<input type="checkbox" v-model="t.isDone" :id="t.id" :key="t.id">
				<label :for="t.id">{{ t.name }}</label>
				<div class="edit-tools">
					<a href="javascript:;" class="btn-delete" @click.prevent="deleteTodo()"><i class="far fa-trash-alt"></i></a>
				</div>
			</li>
			<li class="todo-left">{{todoList.length}} {{todoList.length > 1 ? 'items' : 'item'}} left</li>
		</ul>
	</script>

	<script type="text/x-template" id="active">
		<ul class="todoList">
			<li v-if="todoList.length == 0">All clear!</li>
			<li v-for="t in todoList" :class="{done : t.isDone == true}">
				<input type="checkbox" v-model="t.isDone" :id="t.id" :key="t.id">
				<label :for="t.id">{{ t.name }}</label>
				<div class="edit-tools">
					<a href="javascript:;" class="btn-delete" @click.prevent="deleteTodo()"><i class="far fa-trash-alt"></i></a>
				</div>
			</li>
		</ul>
	</script>
	<script type="text/x-template" id="complete">
		<ul class="todoList">
			<li v-for="t in finishList" :class="{done : t.isDone == true}">
				<input type="checkbox" v-model="t.isDone" :id="t.id" :key="t.id">
				<label :for="t.id">{{ t.name }}</label>
				<div class="edit-tools">
					<a href="javascript:;" class="btn-delete" @click.prevent="deleteTodo()"><i class="far fa-trash-alt"></i></a>
				</div>
			</li>
		</ul>
	</script>
	<script>
		Vue.component('all', {
			template: '#all',
			props: {
				list: Array
			},
			computed: {
				todoList: function(){
					return this.list.filter(function(d){
						return d.isDone == false;
					})
				},
			},
			methods: {
				deleteTodo: function(d){
					this.list.splice(this.list.indexOf(d), 1)
				},
			}
		});

		Vue.component('active', {
			template: '#active',
			props: {
				list: Array
			},
			computed:{
				todoList: function(){
					return this.list.filter(function(d){
						return d.isDone == false;
					})
				},
			},
			methods: {
				deleteTodo: function(d){
					this.list.splice(this.list.indexOf(d), 1)
				},
			}
		});

		Vue.component('complete', {
			template: '#complete',
			props: {
				list: Array
			},
			computed: {
				finishList: function(){
					return this.list.filter(function(d){
						return d.isDone == true;
					})
				},
			},
			methods: {
				deleteTodo: function(d){
					this.list.splice(this.list.indexOf(d), 1)
				},
			}
		});

		new Vue({
			el: "#app",
			data:{
				todo: 'test',
				list: [
					{
						id: 1,
						name: 'test',
						isDone: false,
					},
					{
						id: 2,
						name: 'test2',
						isDone: true
					}
				],
				currentView: 'all',
				nightMode: false,
				isDark: false
			},
			computed:{
				
			},
			methods: {
				add: function(){
					this.list.push({
						name: this.todo, 
						isDone: false,
						id: new Date().getTime()
					});
					this.todo = ''					
				},
				deleteTodo: function(item){
					// this.list.splice(this.list.index, 1)
					console.log(item);
				},
				open: function(val){
					this.currentView = val;
				},
				modeChange: function(){
					this.nightMode = !this.nightMode;
					this.isDark = !this.isDark;
				}
			},
		})
	</script>
</body>

</html>