<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>title</title>
	<link href="https://fonts.googleapis.com/css?family=Gudea&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/slot.css">
</head>

<body>
	<div id="app" class="vue-slot">
	    <side-menu>
	    	<h6 slot="title">FAQ</h6>
	    </side-menu>
	    <side-menu2>
	    	<h6 slot="title">服務公告</h6>
	    </side-menu2>
	    <side-menu3>
	    	<h6 slot="title">意見信箱</h6>
	    </side-menu3>
	    
	</div>

	<script type="/x-template" id="menu">
		<div class="side-menu">
			<slot name="title"></slot>
			<ul>
				<li v-for="a in faqList"><a href="javascript:;">{{ a }}</a></li>
			</ul>
		</div>
	</script>

	<script type="/x-template" id="notice">
		<div class="side-menu">
			<slot name="title"></slot>
			<ul>
				<li v-for="n in noticeList"><a href="javascript:;">{{ n }}</a></li>
			</ul>
		</div>
	</script>

	<script type="/x-template" id="service">
		<div class="side-menu">
			<slot name="title"></slot>
			<ul>
				<li v-for="s in serviceList"><a href="javascript:;">{{ s }}</a></li>
			</ul>
		</div>
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script>
		Vue.component('side-menu', {
			template: '#menu',
			data(){
				return{
					faqList: ['常見問題', '商品相關' , '配送相關', '付款相關', '發票相關', '退貨相關', '會員相關'],
				}
			}
		});

		Vue.component('side-menu2', {
			template: '#notice',
			data(){
				return{
					noticeList: ['公告通知'],
				}
			}
		});

		Vue.component('side-menu3', {
			template: '#service',
			data(){
				return{
					serviceList: ['意見信箱']
				}
			}
		});

		new Vue({
			el: "#app",
		})
	</script>
</body>

</html>