<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>tabs in component</title>
	<link href="https://fonts.googleapis.com/css?family=Gudea&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/tab.css">
</head>

<body>
	<div id="app">
		<div class="vue-tab">
			<ul class="tab-list">
				<li v-for="tab in tabs"><a href="javascript:;" :class="{current: currentTab === tab}" @click="currentTab = tab">{{ tab }}</a></li>
			</ul>
			<div class="tab-content">
				<component :is="currentView"></component>
			</div>
		</div>

	    <tabs>
	    	<tab name="Services" :selected="true">
	    		<div>What we do</div>
	    	</tab>
	    	<tab name="Pricing">
	    		<div>How much we do for it</div>
	    	</tab>
	    	<tab name="About Us">
	    		<div>Why we do it</div>
	    	</tab>
	    </tabs>
	</div>
	<script type="test/x-template" id="content1">
		<div>
			<h5>Tab 1</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, accusamus quidem nemo dolore similique necessitatibus ducimus laborum sint reiciendis delectus dolor facilis dolorum, saepe dolores sunt eum magni aliquam quaerat, officiis repellat commodi. Ipsum, deleniti suscipit nobis optio at dolorem labore hic saepe ad dolore! Quasi vitae aliquam nulla iure voluptates expedita, quaerat magnam voluptatum facere, itaque eveniet consequuntur fuga culpa deleniti atque!</p>
			<p><button @click="add">count</button><span> {{ count }}</span></p>
		</div>
	</script>

	<script type="test/x-template" id="content2">
		<div>
			<h5>Tab 2</h5>
			<p>Alabore dignissimos vitae quaerat velit perferendis, atque voluptatum optio accusamus culpa saepe nulla esse est at. </p>
			<p>Quisquam odio explicabo neque voluptas, mollitia placeat quam sequi officiis aperiam provident rerum optio architecto voluptatem fuga dolore nesciunt nemo accusamus vel mollitia autem atque repellat, aperiam consequatur placeat est! Repellat, praesentium porro consequatur aperiam. Facere, neque voluptatum aliquam quam totam eligendi atque officiis possimus delectus commodi dignissimos maiores natus velit ipsum, voluptatibus?</p>
			<span> {{ count }}</span>
		</div>
	</script>
	<script type="test/x-template" id="content3">
		<div>
			<h5>Tab 3</h5>
			<p>Fugiat ea aperiam pariatur, dolor. Quod similique magnam corporis numquam labore maiores ipsam rerum eos facere est incidunt maxime iure amet accusamus aut, placeat fuga, consequatur quas a. Quaerat aliquam id rem atque tempora, commodi recusandae dolor.</p>
			<p>Vel nulla minima dolorum doloribus impedit, atque tempore mollitia ipsa distinctio obcaecati animi accusantium similique sint reprehenderit molestias officiis ipsam quaerat quasi, soluta delectus fugit ex amet. Blanditiis tempora excepturi aspernatur architecto, ipsum magnam odit saepe. Dolore!</p>
		</div>
	</script>
	<script type="test/x-template" id="content4">
		<div>
			<h5>Tab 4</h5>
			<p>Dolores a adipisci cumque earum ratione numquam eum.</p>
			<p>Eveniet recusandae, nihil quae labore animi. Veniam similique optio maiores et rerum officiis nisi minus nihil explicabo iure eum quibusdam sint doloremque.</p>
			<p>Ea, cupiditate. Quibusdam ipsum assumenda, pariatur optio iusto non illum dolor molestias fuga quae eligendi nostrum eius natus hic similique quam alias. Minima, dolores.</p>
		</div>
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script>
		Vue.component('tabs', {
			template: `<div class="tabs">
	    		<ul>
	    			<li v-for="tab in tabs">
	    				<a :href="tab.href" :class="{'is-active' : tab.isActive}" @click="selectTab(tab)">{{ tab.name}}</a>
	    			</li>
	    		</ul>
	    		<div class="tab-detail">
    				<slot></slot>
	    		</div>
	    	</div>`,
	    	data(){
	    		return {
	    			tabs: []
	    		}
	    	},
	    	created(){
	    		this.tabs = this.$children;
	    	},
	    	methods: {
	    		selectTab(select){
	    			this.tabs.forEach(function(tab){
	    				tab.isActive = (tab.name == select.name)
	    			})
	    		}
	    	}
		});
		Vue.component('tab', {
			template: `<div v-show="isActive"><slot></slot></div>`,
			props: {
				name: {required: true},
				selected: {default: false}
			},
			data(){
				return{
					isActive: false
				}
			},
			computed: {
				href(){
					return "#" + this.name.toLowerCase().replace(/ /g, '-')
				}
			},
			mounted(){
				this.isActive = this.selected
			}
		})





		Vue.component('tab1-content', {
			template: '#content1',
			activated(){
				console.log("content1 activated.");
			},
			deactivated(){
				console.log("content1 deactivated.");
			},
			data: function(){
			    return {
			    	count: 0,
			    }
			},
			methods: {
			    add: function(){
			    	this.count ++;
			    }
			}
		});

		Vue.component('tab2-content', {
			template: '#content2',
			data: function(){
			    return {
			    	count: 0,
			    }
			},
			activated(){
				this.count++;
			}
		});

		Vue.component('tab3-content', {
			template: '#content3'
		});

		Vue.component('tab4-content', {
			template: '#content4'
		});

		new Vue({
			el: "#app",
			data: {
				currentTab: 'tab1',
				tabs: ['tab1','tab2', 'tab3','tab4']
		  	},
		  	computed: {
		  		currentView: function(){
		  			return this.currentTab + '-content';
		  		}
		  	}
		})
	</script>
</body>

</html>